# پوشه محیط مجازی
venv/
.venv/
env/

# فایل‌های کش پایتون
__pycache__/
*.pyc

# نوت‌بوک‌ها و نقاط بازرسی
.ipynb_checkpoints/

# مدل‌های آموزش داده شده (که معمولاً حجم بالایی دارند)
models/*.pkl
*.joblib
*.h5

# فایل‌های ویندوز
.DS_Store
Thumbs.db
